/************GLOBAL***********/
.container-fluid {
	/*background: url("../img/FoxxesMountain2.png")no-repeat;
	background-size: 1329px;
	background-position: center;*/
	display: block;
	height: 748px;
	overflow: scroll;
}

/************LINKS SECTION*********/
.row {
	text-align: center;
}
.bandlinks {
	min-width: 320px;
}

.bandlinks2 {
	margin-top: -4px;
}
a {
	/*padding-left: 28px;
	padding-right: 20px;
	font-size: 50px;*/
	color: black;
}

a:hover {
	text-decoration: none;
	color: cadetblue;	
}

.contactlink, .showlink {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	font-weight: 700;
}

/************ICONS********************/
.facebook {
	background: url("../img/icon-facebook.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;	
	/*height: 100px;*/
}
.bandcamp {
	background: url("../img/icon-bandcamp.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
}
.soundcloud {
	background: url("../img/icon-soundcloud.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
}
.twitter {
	background: url("../img/icon-twitter.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
}
.youtube {
	background: url("../img/icon-youtube.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
}

/*********FOXXES LOGO************/

.foxxeslogo {
	background: url("../img/foxxesLogoBlack2.png")no-repeat;
	background-size: 800px;
	background-position: center;
	display: block;
	height: 748px;
	
	-webkit-animation: fadein noBlur 5s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein noBlur 5s; /* Firefox < 16 */
	    -ms-animation: fadein noBlur 5s; /* Internet Explorer */
	     -o-animation: fadein noBlur 5s; /* Opera < 12.1 */
	        animation: fadein noBlur 5s;
}
.foxxeslogo:hover {
	-webkit-animation: blurLogo 5s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: blurLogo 5s; /* Firefox < 16 */
	    -ms-animation: blurLogo 5s; /* Internet Explorer */
	     -o-animation: blurLogo 5s; /* Opera < 12.1 */
	        animation: blurLogo 5s;
}

@keyframes noBlur {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}

/* Firefox < 16 */
@-moz-keyframes noBlur {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes noBlur {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}

/* Internet Explorer */
@-ms-keyframes noBlur {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}

/* Opera < 12.1 */
@-o-keyframes noBlur {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}

/*BLUR LOGO**********************/
@keyframes blurLogo {
    from { filter: blur(0px); }
    to   { filter: blur(5px); }
}

/* Firefox < 16 */
@-moz-keyframes blurLogo {
    from { filter: blur(0px); }
    to   { filter: blur(5px); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes blurLogo {
    from { filter: blur(0px); }
    to   { filter: blur(5px); }
}

/* Internet Explorer */
@-ms-keyframes blurLogo {
    from { filter: blur(0px); }
    to   { filter: blur(5px); }
}

/* Opera < 12.1 */
@-o-keyframes blurLogo {
    from { filter: blur(0px); }
    to   { filter: blur(5px); }
}

.foxxeslogo2 {
	background: url("../img/foxxesLogoWhite.png")no-repeat;
	background-size: 800px;
	background-position: center;
	display: block;
	height: 748px;
	opacity: 0;
}

.foxxeslogo2:hover {
	-webkit-transition: opacity 1s ease-in-out;
	  -moz-transition: opacity 1s ease-in-out;
	  -o-transition: opacity 1s ease-in-out;
	  transition: opacity 1s ease-in-out;
}

	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}


/*********VIDEO***********/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***********PLAYER AND SHOW LIST********/

p {
	font-family: 'Amatic SC', cursive;
	color: white;
}

h3 {
	/*padding-top: 10px;*/
	color: white;
	border-top: 2px solid black;
	display: block;
	padding-top: 10px;
}

h2.venue {
	margin: 0;
}


.playerAndShows {
	margin-bottom: 30px;
	/*background-color: white;*/
}

#showInfo {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	font-weight: 700;
}

.spotify, .shows {
	padding-top: 20px;
}

.shows {
	/*overflow: scroll;*/
}

.showlist {
	border: 1px solid black;
	margin: 0 auto;
	padding: 20px;
	width: 300px;
	height: 380px;
	background-color: cadetblue;
	overflow: scroll;
}

/*********MEDIA QUERIES*****************/
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/********iPhone 5********/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
  .fullscreen-bg {
    background: url('../img/FoxxesMountain2.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .foxxeslogo {
  	display: none;
  }
  
  a {
  	color: white;
  }
  
  .playerAndShows {
  	margin-top: 250px;
  }

  .bandlinks: {
  	min-width: 288px;
  }

  .facebook {
  	background: url("../img/icon-facebook-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .bandcamp {
  	background: url("../img/icon-bandcamp-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .soundcloud {
  	background: url("../img/icon-soundcloud-white.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;  
  }
  .twitter {
  	background: url("../img/icon-twitter-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .youtube {
  	background: url("../img/icon-youtube-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
	
	.contactlink, .showlink {
		font-family: 'Amatic SC', cursive;
		font-size: 80px;
		font-weight: 700;
	}	

	.bandlinks {
		margin-top: 100px;
	}

	.playerAndShows {
  	margin-top: 0;
  }

}


/********iPhone 6********/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 767px) {
  .fullscreen-bg {
    background: url('../img/FoxxesMountain2.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .foxxeslogo {
  	display: none;
  }
  
  a {
  	color: white;
  }
  
  .playerAndShows {
  	margin-top: 250px;
  }

  .facebook {
  	background: url("../img/icon-facebook-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .bandcamp {
  	background: url("../img/icon-bandcamp-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .soundcloud {
  	background: url("../img/icon-soundcloud-white.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;  
  }
  .twitter {
  	background: url("../img/icon-twitter-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .youtube {
  	background: url("../img/icon-youtube-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 767px)
and (orientation: landscape) {
	
	.contactlink, .showlink {
		font-family: 'Amatic SC', cursive;
		font-size: 80px;
		font-weight: 700;
	}	

	.bandlinks {
		margin-top: 100px;
	}

	.playerAndShows {
  	margin-top: 0;
  }

}

/*********GALAXY S5**********/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px) {
  .fullscreen-bg {
    background: url('../img/FoxxesMountain2.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .foxxeslogo {
  	display: none;
  }
  
  a {
  	color: white;
  }
  
  .playerAndShows {
  	margin-top: 250px;
  }

  .facebook {
  	background: url("../img/icon-facebook-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .bandcamp {
  	background: url("../img/icon-bandcamp-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .soundcloud {
  	background: url("../img/icon-soundcloud-white.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;  
  }
  .twitter {
  	background: url("../img/icon-twitter-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .youtube {
  	background: url("../img/icon-youtube-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }

}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px)
and (orientation: landscape) {
	
	.contactlink, .showlink {
		font-family: 'Amatic SC', cursive;
		font-size: 80px;
		font-weight: 700;
	}	

	.bandlinks {
		margin-top: 100px;
	}

	.playerAndShows {
  	margin-top: 0;
  }

}

/********iPAD*********/

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .fullscreen-bg {
    background: url('../img/FoxxesMountain2.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .foxxeslogo {
  	display: none;
  }
  
  a {
  	color: white;
  }
  
  .playerAndShows {
  	margin-top: 250px;
  }

/*	.contactlink, .showlink {
		font-family: 'Amatic SC', cursive;
		font-size: 80px;
		font-weight: 700;
	}*/	

	.container-fluid {
		height: 1000px;
	}
	
	.contactIpad {
		margin-top: 180px;
	}

	.bandlinks {
		margin-top: 100px;
		margin-left: 160px;
	}

  .facebook {
  	background: url("../img/icon-facebook-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .bandcamp {
  	background: url("../img/icon-bandcamp-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .soundcloud {
  	background: url("../img/icon-soundcloud-white.png")no-repeat;
	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;  
  }
  .twitter {
  	background: url("../img/icon-twitter-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }
  .youtube {
  	background: url("../img/icon-youtube-white.png")no-repeat;
  	background-size: 50px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 50px;
  }

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
	
	.contactlink, .showlink {
		font-family: 'Amatic SC', cursive;
		font-size: 80px;
		font-weight: 700;
	}	

	.bandlinks {
		margin-top: 100px;
	}

	.playerAndShows {
  	margin-top: 250px;
  }

  .container-fluid {
  	height: 1000px;
  }
  
  .contactIpad {
  	margin-top: 0;
  }

  .bandlinks {
  	margin-top: 100px;
  	margin-left: 0;
  }

}


